{% extends 'BootcampLayoutBundle::layout.html.twig' %}

{% block title %}Jobeet-wyszukaj{% endblock %}
{% block body %}
    </br>
    </br>
<h2>Wyniki Twojego wyszukiwania:</h2>
{% for job in jobs %}
    <div>
        {{ job.position }}<br>
    </div>
    {% else %}
        brak ogłoszeń
        
       {% endfor %}
{% endblock %}