{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}Aplikuj{% endblock %}

{% block body %}


    </br>
    </br>
<div class="container">
    <h3 class="form-signin-heading">Dokończ aplikacje-dodaj i wyslij pliki</h3>
    </br>
    
{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

</div>

{% endblock %}