{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block body %}
    <h1>Panel użytkownika</h1>
    
    <a class="btn btn-default" href="{{ path('bootcamp_panel_list') }}">Moje ogłoszenia</a>
{% endblock %}
