{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block body %}
    <h1>panel użytkownika</h1>
    
    <a class="btn btn-default" href="{{ path('bootcamp_panel_list') }}">moje ogłoszenia</a>
{% endblock %}
