<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Jobeet-regulamin portalu{% endblock %}</title>
    </head>
    <body>
        <a  class="btn btn-default" href="{{ path('bootcamp_jobeet_homepage') }}">Powrót na stronę stronę główną</a>
        <p>
        <h1><center>REGULAMIN PORTALU</center></h1>
        <p>
        <ol>
                
            <li>Zabrania się umieszczania jakichkolwiek treści niezgodnych z polskim prawem, dobrymi obyczajami, wywołujących oburzenie, nawołujących do łamania prawa, przemocy itp.
                Ogłoszenia dodawane są tego same dnia, bądź następnego.</li>
            <li>Umieszczenie ogłoszenia o tej samej treści, bądź podobnej w jednej lub kilku kategoriach spowoduje jego usunięcie.</li>
            <li>Zabrania się zamieszczania ogłoszeń zawierających adresy WWW stron komercyjnych, a także innych serwisów WWW poprzez podanie ich nazwy w treści ogłoszenia oraz na dołączonych zdjęciach.</li>
            <li>Właściciel  portalu zastrzega sobie prawo do modyfikacji i usuwania ogłoszeń bez podania przyczyny oraz przydzielania ogłoszenia do kategorii najbardziej pasującej wynikającej z treści ogłoszenia.</li>
            <li>Publikując materiały, treści i dane osobowe użytkownik wyraża jednocześnie zgodę na ich publiczne udostępnienie.</li>
            <li>Właściciel portalu nie ponosi odpowiedzialności za: zachowanie osób umieszczających oferty w serwisie, oferowane przez nich towary i usługi, roszczenia związane z rozliczeniami między użytkownikami serwisu, zgodnością usług i towarów z opisem, prawdziwość danych zawartych w ogłoszeniach.</li>
        </ol> 
        </p>
        </p>    
    </body>
</html>