{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}oferty{% endblock %}

{% block body %}
<h1>Przegladaj oferty pracy</h1>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
