{% extends "BootcampLayoutBundle::layout.html.twig" %}
{% block title %}Jobeet-Szczegóły oferty{% endblock %}

{% block body %}
    </br>
    </br>
    <center>
        <h2>Szczegóły oferty:</h2>
    </center>
    </br>
    <div>
        <p>
            <h3>{{ job.slug }}</h3>
        </p>
        <p>
            <h3>{{ job.description }}</h3>
        </p>
        </br>
        <p>
            <h4> Dodany , dnia {{ job.createdAt|date('y-m-d H:i:s') }}</h4>
        </p>
            <a href="{{ path('bootcamp_jobeet_apply') }}" class="btn btn-lg btn-danger btn-block">Aplikuj</a>
    </div>
{% endblock %}
