{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}Jobeet-edytuj ofertę{% endblock %}

{% block body %}
    </br>
    </br>
    <center>
        <h1>Edytuj oferty pracy:</h1>
    </center>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
