{% extends "BootcampLayoutBundle::layout.html.twig" %}

{% block title %}BootcampPanelBundle:Job:new{% endblock %}

{% block body %}
<h1>Edytuj oferty pracy</h1>

{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

{% endblock %}
